@media(max-width:575px){
	.conteiner{
		width:100%;
	}
	.justify-between{
		justify-content:space-between;
	}
	.row{
		margin-left:0;
		margin-right:0;
	}
	.home-herro{
		padding:0;
	}
	.w1-xs{
	width:8.33%;
	}
	.w2-xs{
		width:16.66%;
	}
	.w3-xs{
		width:25%;
	}
	.w4-xs{
		width:33.33%;
	}
	.w5-xs{
		width:41.66%;
	}
	.w6-xs{
		width:50%;
	}
	.w7-xs{
		width:58.33%;
	}
	.w8-xs{
		width:66.66%;
	}
	.w9-xs{
		width:75%;
	}
	.w10-xs{
		width:83.33%;
	}
	.w11-xs{
		width:91.66%;
	}
	.w12-xs{
		width:100%;
	}
	.home-title{
	padding: 0px;
	}
	.display-xs{
		display:none;
	}
	.home-title{
		font-size:24px;
	}
	.home-herro{
		font-size:40px;
	}
	.text-logo{
		font-size:17px;
	}
	.text-logo3{
		font-size:8px;
	}
	.home-btm{
		padding-left:0;
	}
	.home-bottom{
		padding-left:0;
	}
	.b-imags{
		height:450px;
	}
	.timer-1{
		font-size:36px;
		font-weight:600;
	}
	.day{
		font-size:20px;
		font-weight:600;
	}
	.font{
		font-size:40px;
		text-align:center;
	}
	.btm{
		padding:20px 40px;
	}
	.font1{
		font-size:17px;
		text-align:center;
		font-weight:400;
	}
	.topic-btn1 ul li a{
		padding:10px 20px;
	}
	.topic-btn1 ul li{
		padding:0 10px 8px 0;
	}
	.tag-st{
		font-size:29px;
	}
	.p-st{
		font-size:20px;
		word-spacing:5px;
		font-weight:400;
		padding-bottom:50px;
	}
	.home-btm span a{
		padding:20px 50px;
	}
	.schedual-title{
		padding:35px 0;
	}
	.schedual-title2{
		padding:35px 0;
	}
	.s-main-box{
		row-gap:20px;
	}
	.s-content{
		padding-top:28px;
		padding-left:20px;
	}
	.spekar-row{
		padding:0;
	}
	.spekar-info{
		margin-left:27px;
	}
	.head-ticket{
		font-size:25px;
	}
	.p-ticket{
		padding-top:20px;
		font-weight:400;
	}
	.f-social-media1{
		padding-bottom:50px;
	}
	.footer-button{
		padding:20px 114px;
	}
	.footer1{
		padding:0;
	}
}

@media(min-width:576px){
	.conteiner{
		width:540px;
	}
	.justify-between{
		justify-content:space-between;
	}
	.w1-s{
		width:8.33%;
	}
	.w2-s{
		width:16.66%;
	}
	.w3-s{
		width:25%;
	}
	.w4-s{
		width:33.33%;
	}
	.w5-s{
		width:41.66%;
	}
	.w6-s{
		width:50%;
	}
	.w7-s{
		width:58.33%;
	}
	.w8-s{
		width:66.66%;
	}
	.w9-s{
		width:75%;
	}
	.w10-s{
		width:83.33%;
	}
	.w11-s{
		width:91.66%;
	}
	.w12-s{
		width:100%;
	}
	.display-s{
		display:none;
	}
	.text-logo{
		font-size:20px;
	}
	.text-logo3{
		font-size:8px;
	}
	.home-herro{
		padding-left:0;
		font-size:30px;
		padding-top:9px;
	}
	.home-title{
		padding-left:5px;
		font-size:20px;
	}
	.home-btm{
		padding-left:0;
	}
	.btm{
		padding:5px 10px;
	}
	.home-btm span a{
		font-size:16px;
	}
	.home-bottom{
		padding-left:0;
	}
	.b-imags{
		height:450px;
	}
	.timer-1{
		font-size:48px;
		font-weight:600;
	}
	.day{
		font-size:17px;
		font-weight:600;
	}
	.font{
		font-size:47px;
		text-align:center;
	}
	.btm{
		padding:20px 40px;
	}
	.font1{
		text-align:center;
		letter-spacing:1px;
		font-weight:400;
	}
	.topic-btn1 ul li{
		padding:0 10px 10px 0;
	}
	.tag-st{
		font-size:35px;
	}
	.p-st{
		font-weight:500;
		word-spacing:4px;
		padding-bottom:50px;
	}
	.s-main-box{
		row-gap:20px;
	}
	.s-content{
		padding-top:40px;
		padding-left:45px;
	}
	.schedual-img{
		display:flex;
		align-items:center;
		justify-content:center;
	}
	.spekar-name a{
		font-size:24px;
	}
	.spekar-row{
		padding-top:0;
	}
	.head-ticket{
		font-size:35px;
	}
	.p-ticket{
		padding-top:30px;
		font-weight:500;
	}
	.ticket-button1{
		padding-top:30px;
	}
	.f-social-media1{
		padding-bottom:50px;
	}
	.footer-button{
		padding:20px 185px;
	}
}

@media(min-width:768px){
	.conteiner{
		width:720px;
	}
	.w1-m{
	width:8.33%;
	}
	.w2-m{
		width:16.66%;
	}
	.w3-m{
		width:25%;
	}
	.w4-m{
		width:33.33%;
	}
	.w5-m{
		width:41.66%;
	}
	.w6-m{
		width:50%;
	}
	.w7-m{
		width:58.33%;
	}
	.w8-m{
		width:66.66%;
	}
	.w9-m{
		width:75%;
	}
	.w10-m{
		width:83.33%;
	}
	.w11-m{
		width:91.66%;
	}
	.w12-m{
		width:100%;
	}
	.display-m{
		display:none;
	}
	.m-block{
		display:block;
	}
	.text-logo{
		font-size:30px;
	}
	.text-logo3{
		font-size:17px;
	}
	.home-herro{
		font-size:50px;
	}
	.home-title{
		font-size:30px;
	}
	.login ul li a{
		padding:0;
	}
	.home-bottom{
		margin-top:30px;
	}
	.timer-1{
		font-size:65px;
	}
	.day{
		font-size:17px;
	}
	.font{
		font-size:55px;
		text-align:center;
	}
	.btm{
		padding:20px 40px;
	}
	.font1 {
		font-weight:400;
		word-spacing:3px;
	}
	.s-main-box{
		row-gap:30px;
	}
	.schedual-title{
		padding:45px 0;
	}
	.schedual-title2{
		padding:45px 0;
	}
	.spekar-row{
		padding-top:0;
	}
	.head-ticket{
		font-size:40px;
	}
	.p-ticket{
		padding-top:30px;
		font-weight:400;
	}
	.footer-button{
		padding:20px 275px;
	}
}

@media(min-width:992px){
	.conteiner{
		width:960px;
	}
	.w1-l{
	width:8.33%;
	}
	.w2-l{
		width:16.66%;
	}
	.w3-l{
		width:25%;
	}
	.w4-l{
		width:33.33%;
	}
	.w5-l{
		width:41.66%;
	}
	.w6-l{
		width:50%;
	}
	.w7-l{
		width:58.33%;
	}
	.w8-l{
		width:66.66%;
	}
	.w9-l{
		width:75%;
	}
	.w10-l{
		width:83.33%;
	}
	.w11-l{
		width:91.66%;
	}
	.w12-l{
		width:100%;
	}
	.display-l{
		display:none;
	}
	.l-block{
		display:block;
	}
	.text-logo{
		font-size:25px;
	}
	.link ul li a{
		padding:8px;
	}
	.home-herro{
		font-size:55px;
	}
	.home-bottom{
		margin-top:8px;
	}
	.home-btm span a {
		padding:10px 40px;
	}
	.text-logo{
		font-size:33px;
	}
	.text-logo3{
		font-size:20px;
	}
	.nav-link{
		padding-top:17px;
		font-size:21px;
		align-items:revert;
	}
	.timer-1{
		font-size:70px;
	}
	.day{
		font-size:19px;
	}
	.topic-btn1 ul li a{
		padding:12px 16px;
	}
	.s-main-box{
		column-gap:0;
	}
	.border-schedule {
		padding:0 12px;
		border:0;
	}
	.spekar-name a{
		font-size:20px;
	}
	.p-ticket{
		padding-top:30px;
		font-weight:500;
	}
	.footer-button{
		padding:20px 87px;
	}
	.f-padding{
		padding-top:43px;
	}
}

@media(min-width:1200px){
	.conteiner{
		width:1140px;
	}
	.w1-xl{
	width:8.33%;
	}
	.w2-xl{
		width:16.66%;
	}
	.w3-xl{
		width:25%;
	}
	.w4-xl{
		width:33.33%;
	}
	.w5-xl{
		width:41.66%;
	}
	.w6-xl{
		width:50%;
	}
	.w7-xl{
		width:58.33%;
	}
	.w8-xl{
		width:66.66%;
	}
	.w9-xl{
		width:75%;
	}
	.w10-xl{
		width:83.33%;
	}
	.w11-xl{
		width:91.66%;
	}
	.w12-xl{
		width:100%;
	}
	.display-xl{
		display:none;
	}
	.xl-block{
		display:block;
	}
	.timer-1{
		font-size:75px;
	}
	.day{
		font-size:17px;
	}
	.top-btm{
		justify-content:flex-end;
	}
	.m-btm1{
		justify-content:center;
	}
	.news{
		justify-content:center;
	}
	.tag-st{
		padding-top:10px;
	}
	.p-st{
		padding-top:10px;
	}
	.schedual-title{
		padding:40px 0;
	}
	.schedual-title2{
		padding:40px 0;
	}
	.border-schedule {
		padding:0 12px;
		border:0;
	}
	.border-schedule {
		padding:0 12px;
		border:0;
	}
	.spekar-info {
		margin-top:-80px;
	}
	.footer-button{
		padding:20px 114px;
	}
}

@media(min-width:1400px){
	.conteiner{
		width:1320px;
	}
	.w1-xll{
	width:8.33%;
	}
	.w2-xll{
		width:16.66%;
	}
	.w3-xll{
		width:25%;
	}
	.w4-xll{
		width:33.33%;
	}
	.w5-xll{
		width:41.66%;
	}
	.w6-xll{
		width:50%;
	}
	.w7-xll{
		width:58.33%;
	}
	.w8-xll{
		width:66.66%;
	}
	.w9-xll{
		width:75%;
	}
	.w10-xll{
		width:83.33%;
	}
	.w11-xll{
		width:91.66%;
	}
	.w12-xll{
		width:100%;
	}
	.display-xxl{
		display:none;
	}
	.day{
		font-size:20px;
	}
	.home-herro{
		padding-left:190px;
	}
	.home-2{
		margin-left:190px;
	}
	.home-btm span a{
		margin-left:190px;
	}
	.home-123{
		margin-left:190px;
	}
	.font{
		font-size:57px;
	}
	.font1{
		font-weight:600;
	}
	.b-imags{
		height:550px;
	}
	.home-123{
		padding-top:40px;
	}
	.topic-btn1 ul li a{
		padding:20px 40px;
		font-weight:700;
		font-size:16px;
	}
	.border-schedule {
		padding:0 12px;
		border:0;
	}
	.footer-button{
		padding:20px 145px;
	}
	.nav-link{
		display:flex;
		justify-content:center;
	}
}